
<html class="full">
<body>

<div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <h1>Share your baby photos with families and friends today!</h1>
                <p>Join the community.</p>
                <%= link_to "Upload your first photo", new_user_path, class: "btn btn-info" %>
						</div>
        </div>
</div>
</div>
</body>
</html>