

<div id="container" class="js-masonry" data-masonry-options='{ "columnWidth": 200, "itemSelector": ".item" }'>

<h1>
	Masonry grid
</h1>
	
	<% @posts.each do |post| %>
		<% post.images.each do |image| %>
			<% if image.content_content_type %>
				<%= image_tag image.content.url, width: '200px' %>
			<% end %>
		<% end %>		
	<% end %>

	<%= link_to 'posts', posts_path, class: 'btn btn-primary btn-lg' %>

</div>