<div class="container">
	<div class="row">
	  <div class="col-sm-6 col-md-6">
	 
				
				<% @posts.each do |post| %>
					<div class="col-sm-6 col-md-6">
						<%  post.images.each do |image| %>
							<%= link_to (posts_path(image)) do %>
								<% if image.content_content_type %>
								<%= image_tag image.content.url, class: "img-thumbnail" %>
								<%= link_to 'Show', post, class: "btn btn-success"%>
								<%= link_to 'Edit', edit_post_path(post), class: "btn btn-success"%>
								<% end %>
							<% end %>
						<% end %>
					</div>
				<% end %>
		</div>
	</div>
</div>
