<div class="container">
	
	<div class="row">
		
		<div class="col-md-4"></div>
		
			<div class="col-md-4">
				<% @post.images.each do |image| %>
						<% if image.content_content_type %>
							<%= image_tag image.content.url %>
						<% end %>
					<% end %>
				
				<%= form_for @post, :html => { :multipart => true } do |f| %>
					
					<h3>Title</h3>
					<%= @post.title %>
							
					<h3>Description</h3>
					<%= @post.description %>
				
				<% end %>
			
			</div>
	
	</div>

</div>

